body{
    min-height: 50vh;
    background: mediumaquamarine;
}

button{
    background: rgb(79, 112, 155);
    color: aliceblue;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1.5rem;
}
ul{
    color: rgb(56, 38, 14);
    font-size: 2rem;
    cursor: pointer;
}
.active{
    background: khaki;
}